@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Teko:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$color1: #432f8f;
$color2: #db2779;
$color3: #a4db32;
$color4: #5e3ddb;
$color5: #8f134b;

.web__dev__animation__container {
  width: 100%;
  height: 60rem;
  background-color: $color1;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  .i__drop {
    position: absolute;
    left: 13.4rem;
    bottom: 60rem;
    //   bottom: 8rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 0.4rem solid #ffffff;
    //   background-color: red;
  }

  .hello__div {
    border-bottom: 2px solid black;
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;

    .h__letter {
      position: absolute;
      bottom: 0;
      left: 5rem;
      font-size: 14rem;
      font-family: "Teko", sans-serif;
      font-weight: 600;
      line-height: 0.5;
      opacity: 0;
      color: $color2;
    }
    .i__letter {
      position: absolute;
      bottom: 0;
      left: 13rem;
      font-size: 10rem;
      font-family: "Teko", sans-serif;
      font-weight: 600;
      line-height: 0.5;
      color: $color2;
    }

    .h__drop {
      position: absolute;
      left: 5rem;
      bottom: 0;
      bottom: 35rem;
      height: 9.5rem;
      width: 8rem;
      border-radius: 1rem;
      background-color: $color2;
    }
    .h__paravan {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 9.5rem;
      background-color: $color1;
      z-index: 2;
    }
    .i__dev {
      position: absolute;
      bottom: 0;
      left: 4.5rem;
      color: $color2;
      font-size: 15rem;
      font-weight: 600;
      line-height: 0.5;
      opacity: 0;
    }
    .m__dev {
      position: absolute;
      bottom: 0;
      left: 8rem;
      color: $color2;
      font-size: 11rem;
      font-weight: 600;
      line-height: 0.8;
    }
    .coma__letter {
      position: absolute;
      bottom: 0;
      left: 16rem;
      font-size: 10rem;
      line-height: 1;
      font-weight: 600;
      color: $color2;
      opacity: 0;
    }
    .a__dev {
      position: absolute;
      bottom: 0;
      left: 23rem;
      color: $color2;
      font-size: 11rem;
      font-weight: 600;
      line-height: 0.8;
      opacity: 0;
    }
    .web__dev {
      position: absolute;
      bottom: 0;
      left: 31rem;
      color: $color3;
      font-size: 11rem;
      font-style: italic;
      font-weight: 600;
      line-height: 0.8;
    }
    .web__paravan {
      position: absolute;
      bottom: 0;
      left: 81rem;
      background-color: $color1;
      width: 22rem;
      height: 10rem;
      z-index: 2;
    }
  }
}
